<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
      <p:messages id="msj"/>

        <h:form id="menu">
            <p:fieldset legend="Nuevo">
                <p:commandButton value="Nuevo Producto" oncomplete="PF('java').show();"/>
            </p:fieldset>
        </h:form>

        <p:dialog widgetVar="java" header="Producto" modal="true" resizable="false" showEffect="explode">
            <p:ajax event="close" listener="#{productoController.init()}" update="datos"/>
            <h:form id="datos">
                <p:panelGrid columns="1">
                    <p:outputLabel value="Nombre">
                        <p:inputText value="#{productoController.producto.nombre}"/>
                    </p:outputLabel>
                    <p:outputLabel value="Precio">
                        <p:inputText value="#{productoController.producto.precio}"/>
                    </p:outputLabel>
                    <p:outputLabel value="Stock">
                        <p:inputText value="#{productoController.producto.stock}"/>
                    </p:outputLabel>
                    <p:outputLabel value="Categoria"/>
                    <p:selectOneMenu value="#{productoController.categoria.idCategoria}">
                        <f:selectItems value="#{categoriaController.listaCategoria}" var="c"
                                       itemLabel="#{c.nombre}" itemValue="#{c.idCategoria}"/>
                    </p:selectOneMenu>
                    <p:commandButton value="Crear" actionListener="#{productoController.crear()}"
                                     rendered="#{productoController.producto.idProducto ==0}"
                                     update="datos :tabla :msj" oncomplete="PF('java').hide();"/>
                    <p:commandButton value="Editar" actionListener="#{productoController.editar()}"
                                     rendered="#{productoController.producto.idProducto!=0}"
                                     update="datos :tabla :msj" oncomplete="PF('java').hide();"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <h:form id="tabla">
            <p:fieldset legend="Datos">
                <p:dataTable value="#{productoController.listaProducto}" var="p">
                    <p:column headerText="Id">
                        <h:outputLabel value="#{p.idProducto}"/>
                    </p:column>
                    <p:column headerText="Nombre">
                        <h:outputLabel value="#{p.nombre}"/>
                    </p:column>
                    <p:column headerText="Precio">
                        <h:outputLabel value="#{p.precio}"/>
                    </p:column>
                    <p:column headerText="Stock">
                        <h:outputLabel value="#{p.stock}"/>
                    </p:column>
                    <p:column headerText="Categoria">
                        <h:outputLabel value="#{p.idCategoria.nombre}"/>
                    </p:column>
                    <p:column headerText="Acciones">
                        <p:commandButton value="Editar" actionListener="#{productoController.cargar(p)}"
                                         update=":datos" oncomplete="PF('java').hide();"/>
                        <p:commandButton value="Eliminar" actionListener="#{productoController.eliminar(p)}"
                                         update=":tabla :msj"/>
                    </p:column>
                </p:dataTable>
            </p:fieldset>
        </h:form>
    </h:body>
</html>

